@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 202 50% 9%;
    --foreground: 202 5% 90%;
    --card: 202 50% 9%;
    --card-foreground: 202 5% 90%;
    --popover: 202 50% 5%;
    --popover-foreground: 202 5% 90%;
    --primary: 109, 86%, 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 202 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 164 30% 15%;
    --muted-foreground: 202 5% 60%;
    --accent: 164 30% 15%;
    --accent-foreground: 202 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 202 5% 90%;
    --border: 202 30% 18%;
    --input: 202 30% 18%;
    --ring: 202 69.5% 11.6%;
    --radius: 0.5rem;
    --dilucbg: #092332;
    --dilucttl: #37dd0f;
  }
  .dark {
    --background: 202 50% 5%;
    --foreground: 202 5% 90%;
    --card: 202 50% 0%;
    --card-foreground: 202 5% 90%;
    --popover: 202 50% 5%;
    --popover-foreground: 202 5% 90%;
    --primary: 202 69.5% 11.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 202 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 164 30% 15%;
    --muted-foreground: 202 5% 60%;
    --accent: 164 30% 15%;
    --accent-foreground: 202 5% 90%;
    --destructive: 0 95% 30%;
    --destructive-foreground: 202 5% 90%;
    --border: 202 30% 18%;
    --input: 202 30% 18%;
    --ring: 202 69.5% 11.6%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .dots {
    @apply mt-8 active:bg-primary;
  }
}
.ngaringari {
  @apply animate-background-shine  bg-[linear-gradient(110deg,#6ee7b71a,45%,#b7e8ea,55%,#6ee7b71a)]   bg-[length:200%_100%]  transition-colors;
}
